.a-b-o-u-t-u-s-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #322741;
}
.a-b-o-u-t-u-s-container01 {
  width: 100%;
  height: 3742px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-end;
  justify-content: center;
  background-color: #5c1921;
}

.a-b-o-u-t-u-s-container02 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 913px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.a-b-o-u-t-u-s-div {
  top: 0px;
  left: 8px;
  width: 809px;
  bottom: 0px;
  height: 847px;
  margin: auto;
  position: absolute;
}
.a-b-o-u-t-u-s-link {
  display: contents;
}
.a-b-o-u-t-u-s-text {
  top: 475px;
  color: #ffffff;
  right: 64px;
  width: 641px;
  margin: auto;
  position: absolute;
  font-size: 70px;
  font-style: normal;
  transition: 0.3s;
  font-family: Bebas Neue;
  font-weight: 400;
  text-decoration: none;
}
.a-b-o-u-t-u-s-text:hover {
  color: #ed9616;
}
.a-b-o-u-t-u-s-image {
  top: 212px;
  right: 25px;
  width: 766px;
  height: 271px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
}
.a-b-o-u-t-u-s-image:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.a-b-o-u-t-u-s-footer {
  left: 0px;
  right: 0px;
  width: 1500px;
  bottom: 39px;
  height: 213px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.a-b-o-u-t-u-s-image1 {
  width: 270px;
  height: 140px;
  object-fit: cover;
}
.a-b-o-u-t-u-s-link1 {
  display: contents;
}
.a-b-o-u-t-u-s-container03 {
  top: 93px;
  flex: 0 0 auto;
  left: 578px;
  width: 217px;
  height: 76px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.a-b-o-u-t-u-s-container03:hover {
  box-shadow: 5px 5px 10px 0px #4c4c4c;
}
.a-b-o-u-t-u-s-image2 {
  top: -1px;
  left: 17px;
  width: 65px;
  height: 74px;
  position: absolute;
  object-fit: cover;
}
.a-b-o-u-t-u-s-text01 {
  top: 17px;
  left: 96px;
  color: #ffffff;
  width: 103px;
  height: 38px;
  margin: auto;
  position: absolute;
}
.a-b-o-u-t-u-s-container04 {
  flex: 0 0 auto;
  width: 360px;
  height: 118px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.a-b-o-u-t-u-s-text02 {
  top: 0px;
  color: #ffffff;
  right: 60px;
  position: absolute;
  font-style: normal;
  font-family: Bebas Neue;
  font-weight: 400;
}
.a-b-o-u-t-u-s-text03 {
  top: -1px;
  left: -403px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-style: normal;
  font-family: Bebas Neue;
  font-weight: 400;
}
.a-b-o-u-t-u-s-text04 {
  top: 48px;
  left: 118px;
  color: #929292;
  position: absolute;
  font-size: 20px;
}
.a-b-o-u-t-u-s-link2 {
  top: 48px;
  left: 118px;
  color: rgb(82, 81, 81);
  position: absolute;
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.a-b-o-u-t-u-s-link2:active {
  color: #ffffff;
}
.a-b-o-u-t-u-s-link3 {
  left: 69px;
  color: rgb(82, 81, 81);
  bottom: 15px;
  position: absolute;
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.a-b-o-u-t-u-s-link3:active {
  color: #ffffff;
}
.a-b-o-u-t-u-s-navbar-interactive {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: 4px;
  padding-left: 42px;
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.a-b-o-u-t-u-s-logo {
  width: 205px;
  height: 124px;
  transition: 0.3s;
}
.a-b-o-u-t-u-s-logo:hover {
  box-shadow: 5px 5px 10px 0px #757575;
}
.a-b-o-u-t-u-s-desktop-menu {
  display: flex;
  position: relative;
}
.a-b-o-u-t-u-s-nav {
  top: -15px;
  flex: 0 0 auto;
  left: 137px;
  width: 479px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
}
.a-b-o-u-t-u-s-navlink {
  color: #fdfdfd;
  font-size: 35px;
  font-style: normal;
  transition: 0.3s;
  font-family: Bebas Neue;
  font-weight: 400;
  text-decoration: none;
}
.a-b-o-u-t-u-s-navlink:hover {
  color: #AF00F9;
}
.a-b-o-u-t-u-s-navlink:active {
  color: #00fffa;
}
.a-b-o-u-t-u-s-navlink01 {
  color: rgb(251, 251, 251);
  font-size: 35px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.a-b-o-u-t-u-s-navlink01:hover {
  color: #AF00F9;
}
.a-b-o-u-t-u-s-navlink01:active {
  color: #00FFFA;
}
.a-b-o-u-t-u-s-navlink02 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.a-b-o-u-t-u-s-navlink02:hover {
  color: #AF00F9;
}
.a-b-o-u-t-u-s-navlink02:active {
  color: #00FFFA;
}
.a-b-o-u-t-u-s-navlink03 {
  color: #ffffff;
  font-size: 35px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.a-b-o-u-t-u-s-navlink03:hover {
  color: #AF00F9;
}
.a-b-o-u-t-u-s-navlink03:active {
  color: #00FFFA;
}
.a-b-o-u-t-u-s-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.a-b-o-u-t-u-s-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.a-b-o-u-t-u-s-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.a-b-o-u-t-u-s-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #131212;
}
.a-b-o-u-t-u-s-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-b-o-u-t-u-s-container05 {
  width: 1576px;
  height: 155px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.a-b-o-u-t-u-s-navlink04 {
  display: contents;
}
.a-b-o-u-t-u-s-image3 {
  width: 307px;
  height: 196px;
  transition: 0.3s;
  text-decoration: none;
}
.a-b-o-u-t-u-s-image3:hover {
  box-shadow: 5px 5px 10px 0px #8c8b8b;
}
.a-b-o-u-t-u-s-menu-close {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.a-b-o-u-t-u-s-icon2 {
  top: -12px;
  fill: #D9D9D9;
  left: -49px;
  width: 50px;
  height: 48px;
  position: absolute;
}
.a-b-o-u-t-u-s-nav2 {
  flex: 0 0 auto;
  width: 353px;
  height: 611px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-b-o-u-t-u-s-navlink05 {
  color: rgb(255, 255, 255);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.a-b-o-u-t-u-s-navlink05:hover {
  color: #af00f9;
}
.a-b-o-u-t-u-s-navlink05:active {
  color: #00fffa;
}
.a-b-o-u-t-u-s-navlink06 {
  color: var(--dl-color-gray-white);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.a-b-o-u-t-u-s-navlink06:hover {
  color: #AF00F9;
}
.a-b-o-u-t-u-s-navlink06:active {
  color: #00fffa;
}
.a-b-o-u-t-u-s-navlink07 {
  color: var(--dl-color-gray-white);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.a-b-o-u-t-u-s-navlink07:hover {
  color: #AF00F9;
}
.a-b-o-u-t-u-s-navlink07:active {
  color: #00fffa;
}
.a-b-o-u-t-u-s-navlink08 {
  color: var(--dl-color-gray-white);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.a-b-o-u-t-u-s-navlink08:hover {
  color: #AF00F9;
}
.a-b-o-u-t-u-s-navlink08:active {
  color: #00fffa;
}
.a-b-o-u-t-u-s-navlink09 {
  color: var(--dl-color-gray-white);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.a-b-o-u-t-u-s-navlink09:hover {
  color: #AF00F9;
}
.a-b-o-u-t-u-s-navlink09:active {
  color: #00fffa;
}
.a-b-o-u-t-u-s-container06 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.a-b-o-u-t-u-s-container07 {
  top: 828px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 870px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.a-b-o-u-t-u-s-container08 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 572px;
  height: 145px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  background-color: #F6C215;
}
.a-b-o-u-t-u-s-container08:hover {
  box-shadow: 5px 5px 10px 0px #656565;
}
.a-b-o-u-t-u-s-text07 {
  color: #000000;
  font-size: 100px;
  font-family: Bebas Neue;
  letter-spacing: 4px;
}
.a-b-o-u-t-u-s-image4 {
  top: 187px;
  left: 34px;
  width: 613px;
  height: 559px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
}
.a-b-o-u-t-u-s-image4:hover {
  box-shadow: 5px 5px 10px 0px #777575;
}
.a-b-o-u-t-u-s-container09 {
  top: 181px;
  flex: 0 0 auto;
  right: 52px;
  width: 808px;
  height: 616px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.a-b-o-u-t-u-s-text08 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-style: normal;
  text-align: center;
  font-family: Bebas Neue;
  font-weight: 400;
}
.a-b-o-u-t-u-s-container10 {
  top: 1799px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 1692px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.a-b-o-u-t-u-s-container11 {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 1115px;
  height: 145px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  background-color: #F6C215;
}
.a-b-o-u-t-u-s-container11:hover {
  box-shadow: 5px 5px 10px 0px #656565;
}
.a-b-o-u-t-u-s-text09 {
  color: rgb(0, 0, 0);
  font-size: 100px;
  font-family: Bebas Neue;
  letter-spacing: 4px;
}
.a-b-o-u-t-u-s-image5 {
  top: 270px;
  left: 150px;
  width: 613px;
  height: 760px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
}
.a-b-o-u-t-u-s-image5:hover {
  box-shadow: 5px 5px 10px 0px #656565;
}
.a-b-o-u-t-u-s-container12 {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 1398px;
  bottom: -3px;
  height: 593px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.a-b-o-u-t-u-s-text10 {
  top: 38px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 50px;
  font-style: normal;
  text-align: center;
  font-family: Bebas Neue;
  font-weight: 400;
}
.a-b-o-u-t-u-s-image6 {
  top: 262px;
  right: 90px;
  width: 613px;
  height: 760px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
}
.a-b-o-u-t-u-s-image6:hover {
  box-shadow: 5px 5px 10px 0px #656565;
}
@media(max-width: 991px) {
  .a-b-o-u-t-u-s-desktop-menu {
    display: none;
  }
  .a-b-o-u-t-u-s-btn-group {
    display: none;
  }
  .a-b-o-u-t-u-s-burger-menu {
    display: flex;
  }
  .a-b-o-u-t-u-s-icon {
    fill: #D9D9D9;
    width: 128px;
    height: 74px;
  }
  .a-b-o-u-t-u-s-mobile-menu {
    background-color: #131212;
  }
  .a-b-o-u-t-u-s-container05 {
    width: 835px;
    align-self: center;
  }
  .a-b-o-u-t-u-s-image3 {
    width: 307px;
    height: 196px;
  }
  .a-b-o-u-t-u-s-icon2 {
    top: -10px;
    left: -63px;
  }
  .a-b-o-u-t-u-s-nav2 {
    width: 343px;
    height: 461px;
  }
  .a-b-o-u-t-u-s-navlink05 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .a-b-o-u-t-u-s-navlink06 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .a-b-o-u-t-u-s-navlink07 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .a-b-o-u-t-u-s-navlink08 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .a-b-o-u-t-u-s-navlink09 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
}
@media(max-width: 767px) {
  .a-b-o-u-t-u-s-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-b-o-u-t-u-s-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-b-o-u-t-u-s-navlink01 {
    margin-left: var(--dl-space-space-unit);
  }
  .a-b-o-u-t-u-s-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .a-b-o-u-t-u-s-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .a-b-o-u-t-u-s-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .a-b-o-u-t-u-s-image1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-b-o-u-t-u-s-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .a-b-o-u-t-u-s-mobile-menu {
    padding: 16px;
  }
}
