.article2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #322741;
}
.article2-container01 {
  width: 100%;
  height: 4891px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-end;
  justify-content: center;
  background-color: #1d1d1f;
}

.article2-container02 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 1169px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.article2-container03 {
  top: 159px;
  flex: 0 0 auto;
  left: -10px;
  width: 100%;
  height: 135px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  background-color: #909090;
}
.article2-text {
  top: 10px;
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  width: 491px;
  margin: auto;
  position: absolute;
  font-size: 100px;
  font-family: Bebas Neue;
}
.article2-container04 {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 1433px;
  bottom: 59px;
  height: 100px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.article2-navlink {
  color: rgb(105, 105, 105);
  font-size: 25px;
  transition: 0.3s;
  text-decoration: none;
}
.article2-navlink:hover {
  color: #ffffff;
}
.article2-text01 {
  color: #696969;
  right: 0px;
  bottom: 41px;
  position: absolute;
  font-size: 25px;
}
.article2-text02 {
  top: 770px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 1435px;
  height: 220px;
  margin: auto;
  position: absolute;
  font-size: 100px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Bebas Neue;
  font-weight: 400;
}
.article2-text02:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.article2-image {
  top: 270px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 500px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
}
.article2-image:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.article2-profile {
  display: flex;
  align-items: center;
}
.article2-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.article2-text03 {
  color: #fffcfc;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.article2-container05 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.article2-profile1 {
  display: flex;
  align-items: center;
}
.article2-image2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.article2-text04 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.article2-text05 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.article2-footer {
  left: 0px;
  right: 0px;
  width: 1500px;
  bottom: 39px;
  height: 213px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.article2-image3 {
  width: 270px;
  height: 140px;
  object-fit: cover;
}
.article2-link {
  display: contents;
}
.article2-container06 {
  top: 93px;
  flex: 0 0 auto;
  left: 578px;
  width: 217px;
  height: 76px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.article2-container06:hover {
  box-shadow: 5px 5px 10px 0px #4c4c4c;
}
.article2-image4 {
  top: -1px;
  left: 17px;
  width: 65px;
  height: 74px;
  position: absolute;
  object-fit: cover;
}
.article2-text06 {
  top: 17px;
  left: 96px;
  color: #ffffff;
  width: 103px;
  height: 38px;
  margin: auto;
  position: absolute;
}
.article2-container07 {
  flex: 0 0 auto;
  width: 360px;
  height: 118px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.article2-text07 {
  top: 0px;
  color: #ffffff;
  right: 60px;
  position: absolute;
  font-style: normal;
  font-family: Bebas Neue;
  font-weight: 400;
}
.article2-text08 {
  top: -1px;
  left: -403px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-style: normal;
  font-family: Bebas Neue;
  font-weight: 400;
}
.article2-text09 {
  top: 48px;
  left: 118px;
  color: #929292;
  position: absolute;
  font-size: 20px;
}
.article2-link1 {
  top: 48px;
  left: 118px;
  color: rgb(82, 81, 81);
  position: absolute;
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.article2-link1:active {
  color: #ffffff;
}
.article2-link2 {
  left: 69px;
  color: rgb(82, 81, 81);
  bottom: 15px;
  position: absolute;
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.article2-link2:active {
  color: #ffffff;
}
.article2-navbar-interactive {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: 4px;
  padding-left: 42px;
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.article2-logo {
  width: 205px;
  height: 124px;
  transition: 0.3s;
}
.article2-logo:hover {
  box-shadow: 5px 5px 10px 0px #757575;
}
.article2-desktop-menu {
  display: flex;
  position: relative;
}
.article2-nav {
  top: -15px;
  flex: 0 0 auto;
  left: 137px;
  width: 479px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
}
.article2-navlink01 {
  color: #fdfdfd;
  font-size: 35px;
  font-style: normal;
  transition: 0.3s;
  font-family: Bebas Neue;
  font-weight: 400;
  text-decoration: none;
}
.article2-navlink01:hover {
  color: #AF00F9;
}
.article2-navlink01:active {
  color: #00fffa;
}
.article2-navlink02 {
  color: rgb(251, 251, 251);
  font-size: 35px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.article2-navlink02:hover {
  color: #AF00F9;
}
.article2-navlink02:active {
  color: #00FFFA;
}
.article2-navlink03 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.article2-navlink03:hover {
  color: #AF00F9;
}
.article2-navlink03:active {
  color: #00FFFA;
}
.article2-navlink04 {
  color: #ffffff;
  font-size: 35px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.article2-navlink04:hover {
  color: #AF00F9;
}
.article2-navlink04:active {
  color: #00FFFA;
}
.article2-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.article2-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.article2-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.article2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #131212;
}
.article2-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.article2-container08 {
  width: 1576px;
  height: 155px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.article2-navlink05 {
  display: contents;
}
.article2-image5 {
  width: 307px;
  height: 196px;
  transition: 0.3s;
  text-decoration: none;
}
.article2-image5:hover {
  box-shadow: 5px 5px 10px 0px #8c8b8b;
}
.article2-menu-close {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.article2-icon2 {
  top: -12px;
  fill: #D9D9D9;
  left: -49px;
  width: 50px;
  height: 48px;
  position: absolute;
}
.article2-nav2 {
  flex: 0 0 auto;
  width: 353px;
  height: 611px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.article2-navlink06 {
  color: rgb(255, 255, 255);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.article2-navlink06:hover {
  color: #af00f9;
}
.article2-navlink06:active {
  color: #00fffa;
}
.article2-navlink07 {
  color: var(--dl-color-gray-white);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.article2-navlink07:hover {
  color: #AF00F9;
}
.article2-navlink07:active {
  color: #00fffa;
}
.article2-navlink08 {
  color: var(--dl-color-gray-white);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.article2-navlink08:hover {
  color: #AF00F9;
}
.article2-navlink08:active {
  color: #00fffa;
}
.article2-navlink09 {
  color: var(--dl-color-gray-white);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.article2-navlink09:hover {
  color: #AF00F9;
}
.article2-navlink09:active {
  color: #00fffa;
}
.article2-navlink10 {
  color: var(--dl-color-gray-white);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.article2-navlink10:hover {
  color: #AF00F9;
}
.article2-navlink10:active {
  color: #00fffa;
}
.article2-container09 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.article2-container10 {
  top: 1167px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 3524px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: flex-start;
}
.article2-text12 {
  font-size: 30px;
  text-align: center;
}
.article2-text13 {
  color: var(--dl-color-gray-white);
}
.article2-text14 {
  color: var(--dl-color-gray-white);
  font-size: 30px;
}
.article2-text15 {
  color: var(--dl-color-gray-white);
  font-size: 30px;
}
.article2-text16 {
  color: var(--dl-color-gray-white);
}
.article2-text18 {
  top: 2714px;
  left: 0px;
  color: rgb(249, 249, 249);
  right: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.article2-text19 {
  font-size: 30px;
}
.article2-text20 {
  color: #f9f9f9;
}
.article2-text22 {
  color: #f9f9f9;
}
.article2-image6 {
  top: 2058px;
  left: 0px;
  right: 0px;
  width: 1455px;
  height: 548px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
}
.article2-image6:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.article2-text25 {
  top: 1951px;
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 224px;
  height: 96px;
  margin: auto;
  position: absolute;
  font-size: 100px;
  font-style: normal;
  font-family: Bebas Neue;
  font-weight: 400;
}
.article2-text26 {
  top: 1484px;
  left: 0px;
  color: rgb(251, 251, 251);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  text-align: center;
}
.article2-image7 {
  top: 755px;
  left: 0px;
  right: 0px;
  width: 1452px;
  height: 682px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
}
.article2-image7:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.article2-text27 {
  top: 622px;
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 410px;
  margin: auto;
  position: absolute;
  font-size: 100px;
  font-style: normal;
  font-family: Bebas Neue;
  font-weight: 400;
}
@media(max-width: 991px) {
  .article2-desktop-menu {
    display: none;
  }
  .article2-btn-group {
    display: none;
  }
  .article2-burger-menu {
    display: flex;
  }
  .article2-icon {
    fill: #D9D9D9;
    width: 128px;
    height: 74px;
  }
  .article2-mobile-menu {
    background-color: #131212;
  }
  .article2-container08 {
    width: 835px;
    align-self: center;
  }
  .article2-image5 {
    width: 307px;
    height: 196px;
  }
  .article2-icon2 {
    top: -10px;
    left: -63px;
  }
  .article2-nav2 {
    width: 343px;
    height: 461px;
  }
  .article2-navlink06 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .article2-navlink07 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .article2-navlink08 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .article2-navlink09 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .article2-navlink10 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
}
@media(max-width: 767px) {
  .article2-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .article2-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .article2-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .article2-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .article2-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .article2-container05 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .article2-text05 {
    width: auto;
  }
  .article2-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .article2-image3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .article2-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .article2-mobile-menu {
    padding: 16px;
  }
}
