.r-e-v-i-e-w-s-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #322741;
}
.r-e-v-i-e-w-s-container01 {
  width: 100%;
  height: 3974px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-end;
  justify-content: center;
  background-color: #000000;
}

.r-e-v-i-e-w-s-container02 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 913px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.r-e-v-i-e-w-s-div {
  top: -1px;
  left: 8px;
  width: 945px;
  height: 914px;
  position: absolute;
}
.r-e-v-i-e-w-s-text {
  top: 456px;
  color: rgb(177, 176, 176);
  right: 49px;
  width: 695px;
  margin: auto;
  position: absolute;
  font-size: 70px;
  font-style: normal;
  transition: 0.3s;
  font-family: Bebas Neue;
  font-weight: 400;
}
.r-e-v-i-e-w-s-text:hover {
  color: #ed9616;
}
.r-e-v-i-e-w-s-image {
  top: 166px;
  right: 0px;
  width: 768px;
  height: 293px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
}
.r-e-v-i-e-w-s-image:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.r-e-v-i-e-w-s-link {
  top: 556px;
  color: var(--dl-color-gray-black);
  right: 231px;
  width: 277px;
  height: 55px;
  position: absolute;
  font-size: 40px;
  text-align: center;
  transition: 0.3s;
  font-family: Bebas Neue;
  text-decoration: none;
}
.r-e-v-i-e-w-s-link:hover {
  color: #d8d2d2;
  background-color: #545454;
}
.r-e-v-i-e-w-s-link:active {
  color: #f57a02;
  background-color: #000000;
}
.r-e-v-i-e-w-s-footer {
  left: 0px;
  right: 0px;
  width: 1500px;
  bottom: 39px;
  height: 213px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.r-e-v-i-e-w-s-image01 {
  width: 270px;
  height: 140px;
  object-fit: cover;
}
.r-e-v-i-e-w-s-link1 {
  display: contents;
}
.r-e-v-i-e-w-s-container03 {
  top: 93px;
  flex: 0 0 auto;
  left: 578px;
  width: 217px;
  height: 76px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.r-e-v-i-e-w-s-container03:hover {
  box-shadow: 5px 5px 10px 0px #4c4c4c;
}
.r-e-v-i-e-w-s-image02 {
  top: -1px;
  left: 17px;
  width: 65px;
  height: 74px;
  position: absolute;
  object-fit: cover;
}
.r-e-v-i-e-w-s-text01 {
  top: 17px;
  left: 96px;
  color: #ffffff;
  width: 103px;
  height: 38px;
  margin: auto;
  position: absolute;
}
.r-e-v-i-e-w-s-container04 {
  flex: 0 0 auto;
  width: 360px;
  height: 118px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.r-e-v-i-e-w-s-text02 {
  top: 0px;
  color: #ffffff;
  right: 60px;
  position: absolute;
  font-style: normal;
  font-family: Bebas Neue;
  font-weight: 400;
}
.r-e-v-i-e-w-s-text03 {
  top: -1px;
  left: -403px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-style: normal;
  font-family: Bebas Neue;
  font-weight: 400;
}
.r-e-v-i-e-w-s-text04 {
  top: 48px;
  left: 118px;
  color: #929292;
  position: absolute;
  font-size: 20px;
}
.r-e-v-i-e-w-s-link2 {
  top: 48px;
  left: 118px;
  color: rgb(82, 81, 81);
  position: absolute;
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.r-e-v-i-e-w-s-link2:active {
  color: #ffffff;
}
.r-e-v-i-e-w-s-link3 {
  left: 69px;
  color: rgb(82, 81, 81);
  bottom: 15px;
  position: absolute;
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.r-e-v-i-e-w-s-link3:active {
  color: #ffffff;
}
.r-e-v-i-e-w-s-navbar-interactive {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: 4px;
  padding-left: 42px;
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.r-e-v-i-e-w-s-logo {
  width: 205px;
  height: 124px;
  transition: 0.3s;
}
.r-e-v-i-e-w-s-logo:hover {
  box-shadow: 5px 5px 10px 0px #757575;
}
.r-e-v-i-e-w-s-desktop-menu {
  display: flex;
  position: relative;
}
.r-e-v-i-e-w-s-nav {
  top: -15px;
  flex: 0 0 auto;
  left: 137px;
  width: 479px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
}
.r-e-v-i-e-w-s-navlink {
  color: #fdfdfd;
  font-size: 35px;
  font-style: normal;
  transition: 0.3s;
  font-family: Bebas Neue;
  font-weight: 400;
  text-decoration: none;
}
.r-e-v-i-e-w-s-navlink:hover {
  color: #AF00F9;
}
.r-e-v-i-e-w-s-navlink:active {
  color: #00fffa;
}
.r-e-v-i-e-w-s-navlink01 {
  color: rgb(251, 251, 251);
  font-size: 35px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.r-e-v-i-e-w-s-navlink01:hover {
  color: #AF00F9;
}
.r-e-v-i-e-w-s-navlink01:active {
  color: #00FFFA;
}
.r-e-v-i-e-w-s-navlink02 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.r-e-v-i-e-w-s-navlink02:hover {
  color: #AF00F9;
}
.r-e-v-i-e-w-s-navlink02:active {
  color: #00FFFA;
}
.r-e-v-i-e-w-s-navlink03 {
  color: #ffffff;
  font-size: 35px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.r-e-v-i-e-w-s-navlink03:hover {
  color: #AF00F9;
}
.r-e-v-i-e-w-s-navlink03:active {
  color: #00FFFA;
}
.r-e-v-i-e-w-s-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.r-e-v-i-e-w-s-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.r-e-v-i-e-w-s-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #131212;
}
.r-e-v-i-e-w-s-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.r-e-v-i-e-w-s-container05 {
  width: 1576px;
  height: 155px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.r-e-v-i-e-w-s-navlink04 {
  display: contents;
}
.r-e-v-i-e-w-s-image03 {
  width: 307px;
  height: 196px;
  transition: 0.3s;
  text-decoration: none;
}
.r-e-v-i-e-w-s-image03:hover {
  box-shadow: 5px 5px 10px 0px #8c8b8b;
}
.r-e-v-i-e-w-s-menu-close {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.r-e-v-i-e-w-s-icon2 {
  top: -12px;
  fill: #D9D9D9;
  left: -49px;
  width: 50px;
  height: 48px;
  position: absolute;
}
.r-e-v-i-e-w-s-nav2 {
  flex: 0 0 auto;
  width: 353px;
  height: 611px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.r-e-v-i-e-w-s-navlink05 {
  color: rgb(255, 255, 255);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.r-e-v-i-e-w-s-navlink05:hover {
  color: #af00f9;
}
.r-e-v-i-e-w-s-navlink05:active {
  color: #00fffa;
}
.r-e-v-i-e-w-s-navlink06 {
  color: var(--dl-color-gray-white);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.r-e-v-i-e-w-s-navlink06:hover {
  color: #AF00F9;
}
.r-e-v-i-e-w-s-navlink06:active {
  color: #00fffa;
}
.r-e-v-i-e-w-s-navlink07 {
  color: var(--dl-color-gray-white);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.r-e-v-i-e-w-s-navlink07:hover {
  color: #AF00F9;
}
.r-e-v-i-e-w-s-navlink07:active {
  color: #00fffa;
}
.r-e-v-i-e-w-s-navlink08 {
  color: var(--dl-color-gray-white);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.r-e-v-i-e-w-s-navlink08:hover {
  color: #AF00F9;
}
.r-e-v-i-e-w-s-navlink08:active {
  color: #00fffa;
}
.r-e-v-i-e-w-s-navlink09 {
  color: var(--dl-color-gray-white);
  font-size: 70px;
  transition: 0.3s;
  font-family: Bebas Neue;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.r-e-v-i-e-w-s-navlink09:hover {
  color: #AF00F9;
}
.r-e-v-i-e-w-s-navlink09:active {
  color: #00fffa;
}
.r-e-v-i-e-w-s-container06 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.r-e-v-i-e-w-s-container07 {
  top: 1006px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 735px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.r-e-v-i-e-w-s-navlink10 {
  display: contents;
}
.r-e-v-i-e-w-s-blog-post-card {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1466px;
  height: 688px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.r-e-v-i-e-w-s-blog-post-card:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 10px 0px rgba(196, 196, 196, 0.1);
}
.r-e-v-i-e-w-s-image04 {
  width: 100%;
  height: 365px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.r-e-v-i-e-w-s-container08 {
  left: 16px;
  width: 1367px;
  bottom: 58px;
  height: 297px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.r-e-v-i-e-w-s-text07 {
  color: rgb(255, 255, 255);
  font-size: 80px;
  font-style: normal;
  text-align: center;
  font-family: Bebas Neue;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.r-e-v-i-e-w-s-container09 {
  left: 0px;
  right: 0px;
  width: 1309px;
  bottom: 1px;
  height: 51px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-profile {
  display: flex;
  align-items: center;
}
.r-e-v-i-e-w-s-image05 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.r-e-v-i-e-w-s-text08 {
  color: rgb(255, 252, 252);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.r-e-v-i-e-w-s-text09 {
  color: #fdfdfd;
  font-style: normal;
  font-weight: 500;
}
.r-e-v-i-e-w-s-container10 {
  top: 1813px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 1491px;
  height: 1057px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.r-e-v-i-e-w-s-blog {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-container11 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-container12 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-container13 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-container14 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-blog-post-card1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-blog-post-card1:hover {
  transform: scale(1.02);
}
.r-e-v-i-e-w-s-image06 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.r-e-v-i-e-w-s-container15 {
  width: 1058px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.r-e-v-i-e-w-s-container16 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-text10 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.r-e-v-i-e-w-s-text11 {
  color: var(--dl-color-gray-500);
  font-weight: 300;
}
.r-e-v-i-e-w-s-text12 {
  color: rgb(255, 255, 255);
  width: 965px;
  height: 104px;
  font-size: 4em;
  font-family: Bebas Neue;
}
.r-e-v-i-e-w-s-container17 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-profile1 {
  display: flex;
  align-items: center;
}
.r-e-v-i-e-w-s-image07 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.r-e-v-i-e-w-s-text13 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.r-e-v-i-e-w-s-text14 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.r-e-v-i-e-w-s-container18 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-blog-post-card2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-blog-post-card2:hover {
  transform: scale(1.02);
}
.r-e-v-i-e-w-s-image08 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.r-e-v-i-e-w-s-container19 {
  width: 1058px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.r-e-v-i-e-w-s-container20 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-text15 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.r-e-v-i-e-w-s-text16 {
  color: var(--dl-color-gray-500);
  font-weight: 300;
}
.r-e-v-i-e-w-s-text17 {
  color: rgb(255, 255, 255);
  width: 874px;
  height: 147px;
  font-size: 4em;
  font-family: Bebas Neue;
}
.r-e-v-i-e-w-s-container21 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.r-e-v-i-e-w-s-profile2 {
  display: flex;
  align-items: center;
}
.r-e-v-i-e-w-s-image09 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.r-e-v-i-e-w-s-text18 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.r-e-v-i-e-w-s-text19 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.r-e-v-i-e-w-s-text20 {
  top: 69px;
  left: 59px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 100px;
  font-style: normal;
  transition: 0.3s;
  font-family: Bebas Neue;
  font-weight: 400;
}
.r-e-v-i-e-w-s-text20:hover {
  color: #ed9616;
}
.r-e-v-i-e-w-s-container22 {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 250px;
  height: 807px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.r-e-v-i-e-w-s-div1 {
  top: -Infinitypx;
  left: 0px;
  right: 0px;
  width: 1407px;
  height: 779px;
  margin: auto;
  position: absolute;
}
.r-e-v-i-e-w-s-text21 {
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 576px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 60px;
  font-style: normal;
  transition: 0.3s;
  font-family: Bebas Neue;
  font-weight: 400;
}
.r-e-v-i-e-w-s-text21:hover {
  color: #00e6ff;
}
.r-e-v-i-e-w-s-heading {
  top: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 1115px;
  margin: auto;
  position: absolute;
  font-size: 100px;
  font-style: normal;
  transition: 0.3s;
  font-family: Bebas Neue;
  font-weight: 400;
}
.r-e-v-i-e-w-s-heading:hover {
  color: #00e6ff;
}
@media(max-width: 991px) {
  .r-e-v-i-e-w-s-desktop-menu {
    display: none;
  }
  .r-e-v-i-e-w-s-btn-group {
    display: none;
  }
  .r-e-v-i-e-w-s-burger-menu {
    display: flex;
  }
  .r-e-v-i-e-w-s-icon {
    fill: #D9D9D9;
    width: 128px;
    height: 74px;
  }
  .r-e-v-i-e-w-s-mobile-menu {
    background-color: #131212;
  }
  .r-e-v-i-e-w-s-container05 {
    width: 835px;
    align-self: center;
  }
  .r-e-v-i-e-w-s-image03 {
    width: 307px;
    height: 196px;
  }
  .r-e-v-i-e-w-s-icon2 {
    top: -10px;
    left: -63px;
  }
  .r-e-v-i-e-w-s-nav2 {
    width: 343px;
    height: 461px;
  }
  .r-e-v-i-e-w-s-navlink05 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .r-e-v-i-e-w-s-navlink06 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .r-e-v-i-e-w-s-navlink07 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .r-e-v-i-e-w-s-navlink08 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .r-e-v-i-e-w-s-navlink09 {
    color: var(--dl-color-gray-white);
    font-size: 70px;
    font-family: Bebas Neue;
  }
  .r-e-v-i-e-w-s-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .r-e-v-i-e-w-s-blog-post-card1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .r-e-v-i-e-w-s-blog-post-card2 {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .r-e-v-i-e-w-s-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .r-e-v-i-e-w-s-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .r-e-v-i-e-w-s-navlink01 {
    margin-left: var(--dl-space-space-unit);
  }
  .r-e-v-i-e-w-s-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .r-e-v-i-e-w-s-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .r-e-v-i-e-w-s-blog-post-card {
    flex-direction: column;
  }
  .r-e-v-i-e-w-s-image04 {
    width: 100%;
  }
  .r-e-v-i-e-w-s-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .r-e-v-i-e-w-s-blog-post-card1 {
    flex-direction: column;
  }
  .r-e-v-i-e-w-s-image06 {
    width: 100%;
  }
  .r-e-v-i-e-w-s-blog-post-card2 {
    flex-direction: column;
  }
  .r-e-v-i-e-w-s-image08 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .r-e-v-i-e-w-s-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .r-e-v-i-e-w-s-image01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .r-e-v-i-e-w-s-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .r-e-v-i-e-w-s-mobile-menu {
    padding: 16px;
  }
  .r-e-v-i-e-w-s-container09 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .r-e-v-i-e-w-s-text09 {
    width: auto;
  }
  .r-e-v-i-e-w-s-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .r-e-v-i-e-w-s-container17 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .r-e-v-i-e-w-s-text14 {
    width: auto;
  }
  .r-e-v-i-e-w-s-container21 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .r-e-v-i-e-w-s-text19 {
    width: auto;
  }
}
